html,
body {
  height: 100%;
  overflow-x: hidden;
  background-color: green;
  color: #41200d;
  background-color: #ffeada;
}

h2 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
}

h3 {
  font-size: 14px;
  line-height: 20.74px;
  font-weight: 700;
}

h1 {
  font-size: 42px;
  line-height: 42px;
  font-weight: 600;
}

p {
  font-size: 14px;
  line-height: 20.74px;
  font-weight: 400;
}

label {
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
}

input {
  font-size: 14px !important;
  line-height: 21px !important;
  font-weight: 400 !important;
  color: #41200d !important;
  border-radius: 1000px !important;
  padding: 0px, 16px, 0px, 16px !important;
  height: 47px !important;
  background-color: #ffeada !important;
  border-color: #b27756 !important;
}

input::placeholder {
  color: #41200d !important;
}

.input-error {
  border-color: red !important;
}

.font-weight-600 {
  font-weight: 600;
}

.secondary-text-color {
  color: #7e451f;
}

.tertiary-text-color {
  color: #ff8a00;
}

.btn {
  background-color: #ff8a00;
}

main {
  justify-content: space-around;
}

main > div:first-child {
  max-width: 430px;
}

@media (min-width: 1200px) {
  html,
  body {
    height: 100vh;
  }

  .btn {
    max-width: 200px;
  }

  h1 {
    font-size: 64px;
    line-height: 64px;
    font-weight: 600;
  }

  h2 {
    font-size: 42px;
    line-height: 50px;
  }

  main {
    padding-left: 3rem;
    padding-right: 3rem;
    max-height: 90%;
    justify-content: space-between !important;
  }

  header {
    height: 10%;
  }

  .img-reservation {
    position: absolute;
    right: -3rem;
    bottom: 0;
  }
}

.-mt-38 {
  margin-top: -38px;
}

.mt-38 {
  margin-top: 38px;
}

img {
  width: 120%;
  height: 100%;
  max-width: 722px;
  max-height: 688px;
}

.final-image {
  width: 80%;
  height: 80%;
  max-width: 250px;
  max-height: 224px;
}

.final-button {
  max-width: 300px;
}

input[name="date"] {
  width: fit-content;
}

input[name="people"] {
  width: 63px;
  text-align: center;
}

input[name="time"] {
  width: 70px;
  text-align: center;
}